.pairs-and-students-buttons{
  margin-bottom: 2em;
  grid-template-columns: repeat(auto-fill, 200px);
}
.clicker {
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  height: 44px;
  line-height: 36px;
  margin: 0 1em;
  padding: 4px 10px;
  text-align: center;
  max-width: 200px;
}

.clicker:hover {
  background: #ccc;
}